<div class="header">
    <p class="title">IP Address Tracker</p>
    <input class="search" type="text" placeholder="Search for any IP address or domain">

    <div class="modal">
      <div class="ipAddress">
          <p class="modal_title">IP ADDRESS</p>
          <p class="modal_info">111.111.111.111</p>
      </div>
      <p class="modal_sp">l</p>
      <div class="location">
        <p class="modal_title">LOCATION</p>
        <p class="modal_info">Brooklyn, NY 10001</p>
      </div>
      <p class="modal_sp">l</p>
      <div class="timezone">
        <p class="modal_title">TIMEZONE</p>
        <p class="modal_info">UTC - 05:00</p>
      </div>
      <p class="modal_sp">l</p>
      <div class="ISP">
        <p class="modal_title">ISP</p>
        <p class="modal_info">SpaceX Starlink</p>
      </div>
    </div>
</div>
<div class="map">
  <app-map></app-map>
</div>


