.header{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 25vh;
  background-image: url("../assets/images/pattern-bg-desktop.png");
  background-size: cover;
}

.title{
  margin: 1em;
  font-size: 18px;
  font-weight: 700;
}

.search{
  width: 30vw;
  padding: 1em;
  border: none;
  border-radius: 1em;
}

.modal{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  position: absolute;
  margin: 9em;

  height: 18vh;
  width: 70vw;
  border-radius: 20px;
  border: 1px solid rgba(194, 194, 194, 0.575);
  background-color: var(--white);
}

.title{
  color: var(--white);
}

.modal_title{
  color: var(--dark-gray);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-500);
}

.modal_info{
  font-size: var(--font-size-info);
}

.modal_sp{
  color: var(--dark-gray);
}

.map{
  height: 75vh;
}
